// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

$theme-colors: (
  "primary": #0d6efd,
  "success": #198754,
  "indigo": indigo,
  "teal": teal,
  "orange": orange,
  "pink": rgb(153, 47, 65),
);

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "./custom";



