* {
    margin: 10px 10px;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    margin: 10px 0px;
}

.html{
    margin-left: 50px;
}

span {
    margin: 0 3px;
    text-align: center;
    align-items: center;
}

div {
    width: 100%;
    height: auto;
    padding: 10px; 
    word-wrap: break-word;
}

.kvadratas {
    font-family: monospace;
    line-height: 1;
    padding: 0;
    margin: 0;
    width: fit-content;

    /* background:  */
  /* On "top" */
 /* repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    #e20000 10px,
    #c50202 20px
  ),
  /* on "bottom" */
 /* linear-gradient(
    to bottom,
    #eacdcd,
    #e9cdcd
  );
*/
}