* {
    margin: 10px 10px;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    margin: 10px 0px;
}

.html{
    margin-left: 50px;
}

span {
    margin: 0 3px;
    text-align: center;
    align-items: center;
}

div {
    width: 100%;
    height: auto;
    padding: 10px; 
    word-wrap: break-word;
}